{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content%}
<style media="screen">
  li{
    display:none
  }
  body{
    background-image:url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/07/18/11/instagram-likes-count-hidden-removed-.jpg?w968');
    background-size:cover;
    background-repeat:no-repeat;
    height:100vh;
  }
  .col-md-6 {
    /* background-image:url('https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/07/18/11/instagram-likes-count-hidden-removed-.jpg?w968') */
    background:rgba(255,255,255,.87);
    padding:50px;
    display:flex;
    justify-content:center;
    flex-direction:column;
  }
  .col-md-6 img,.col-md-6.btn,.col-md-6 small{
  align-self:center;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <img style="margin-top:10px" alt="Instagram" class="s4Iyt text-center" width="150px"src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png" srcset="/static/images/web/mobile_nav_type_logo-2x.png/1b47f9d0e595.png 2x">

  <h3>Signup</h3>
  {% if form.errors %}
    <p>{{form.errors}}</p>
  {%endif%}
  <form class="" action="{% url 'signup'%}" method="post">
  {% csrf_token%}
  {% bootstrap_form form %}
  <input type="submit" class="btn btn-sm btn-block btn-primary" value="Sign Up">
  </form>
    <small class="text-center">Have an account <br>
      <a href="{% url 'login' %}">Login</a>
    </small>
</div>
</div>
</div>
{% endblock %}
