{% extends 'base.html'%}
{% load static %}
{% block content%}
{{block.super}}
<div class="container">
  <div class="row main-row">
    <div class="col-md-7">
  <br><br>
  <ul style="list-style:none">
  {% for post in images%}
    {% for person in following%}
      {% if post.profile == person.following %}
  <li>

      <div class="card post{{post.pk}}">
        <div class="card-header">
            <img src="{{post.profile.profile.profile_pic.url}}" width="40px" alt="">
            <h6>
              <a href="{% url 'profile' post.profile %}">
                {{post.profile}}
              </a>
            </h6>
        </div>
        <img src="{{post.image.url}}" alt="" class="card-img-top" >
        <div class="card-footer">
          <div class="icons">
              <i class="far fa-heart like-u">
                  <input type="hidden" class="post_id" value="{{post.pk}}">
              </i>
          <!-- <i style="color:red;display:none;"class="fas fa-heart liked like-u"></i> -->
          <i class="far fa-comment"></i>
          <!-- <i class="fap fa-share"></i> -->
          <i style=" float:right;"class="far fa-bookmark"></i>
        </div>
        <p class="likes" style="margin-left:20px">
          <strong class="like_amount">{{post.likes}}</strong>
          {% if post.likes == 1 %}
          <strong>Like</strong>
          {% else %}
          <strong>Likes</strong>
          {% endif %}
        </p>

          <form action="">
            <input type="text" name="" value="" placeholder="Add a comment...">
            <button type="submit" class="" >Post</button>

          </form>
        </div>
      </div>
    </li>
      {% endif %}
    {% empty %}
    {% endfor %}
  {% endfor %}
</ul>
  </div>
  <div class="col-md-4">
    <br><br>
    <div class="my-data top-stack">
    <img src="{{user.profile.profile_pic.url}}" width="50px" class="circle" alt="">
    <div class="user-details">
      <h6>{{user.username}}</h6>
      <small>{{user.profile.name}}</small>
    </div>
    </div>
  </div>
</div>
</div>
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock%}
