{% extends 'base.html' %}
{% load static%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

{{block.super}}
<div class="container-fluid main">
  <div class="row">
    <div class="col-md-4 offset-md-1 profile-pic-main">
    <img src="{{current_user.profile.profile_pic.url}}" alt="{{current_user.profile.profile_pic.url}}" class="profile-pic">
    </div>
    <div class="col-md-6" style="padding:0 70px 0 0 ">
      <div class="items">
        <input type="hidden" name="you" id="you" value="{{current_user.pk}}">
        <input type="hidden" name="me" id="me" value="{{user.pk}}">
        <h1>{{current_user.username}}</h1>
        {% if user.pk == current_user.pk %}
        <a class="edit" href="{% url 'update_profile' user.username %}">
          <strong>Edit Profile</strong>
        </a>
        <button class="btn settings-btn">
          <img src="{% static 'settings.png'%}" width="20px"alt="">
        </button >
        <div class="display-followers settings">
          <div class="people text-center">
              <h5>Settings</h5>
              <hr>
              <p>Change Password</p>
              <hr>
              <p>Privacy Security</p>
              <hr>
              <a href="{% url 'logout' %}">
                Log Out
                </a>
              <hr>
              <p class="text-center"
              style="margin:0;color:blue;cursor:pointer"><small class="funga">
                  cancel
              </small></p>
            </div>
          </div>
        {% else %}
        {% if follow_status%}
        <div class="data-follows">
            <button type="submit" id="unfollow" class="unfollow edit btn-sm btn" > <strong>Unfollow</strong></button>
            <button style="margin:0 10px;padding:5px 20px;display:none" class="btn btn-primary btn-sm follow unfollow-f" name="button"> <strong>Follow</strong></button>

      </div>
        {% else %}
        <div class="follow-data">
        <button style="margin:0 10px;padding:5px 20px" class="btn btn-primary btn-sm follow" name="button"> <strong>Follow</strong></button>
        <button type="submit" style="display:none;"id="unfollow" class="unfollow edit btn-sm btn" > <strong>Unfollow</strong></button>
      </div>
        {% endif %}

        {% endif %}

      </div><br>
      <div class="items2">
        <p> <strong> {{posts.count}}</strong> post </p>
        <p id="followers"> <strong>{{followers|length}}</strong> followers </p>
        <div class="display-followers followers1">
          <div class="people">
            <h5 class="text-center">Followers</h5>
            <hr>
            {% for person in followers %}
            <div class="people-data person{{person.follow.id}}" style="width:100%;display:flex;align-items:center;">
              <img src="{{person.follow.profile.profile_pic.url}}" height="40px" width="40px" class="circle" alt="">
              <p>{{person.follow.username}}</p>
                <a href="/{{person.follow.username}}"> <strong>view</strong></a>
            </div>
            {% empty %}
            <p>{{current_user.username| title }} has no followers</p>
            {% endfor %}
            <p class="text-center"
            style="margin:0;color:blue;cursor:pointer"><small class="funga">
                cancel
            </small></p>
        </div>
        </div>
        <p id="following"> <strong>{{following.count}}</strong> following </p>
        <div class="display-followers followers2">
          <div class="people">
            <h5 class="text-center">Following</h5>
            <hr>
            {% for person in following %}
            <div class="people-data" style="width:100%;display:flex;align-items:center;">
              <img src="{{person.following.profile.profile_pic.url}}" height="40px" width="40px" class="circle" alt="">
              <p>{{person.following.username}}</p>
              <a href="/{{person.following.username}}"> <strong>view</strong></a>
            </div>
            {% empty %}
            <p>{{current_user.username| title }} has no followers</p>
            {% endfor %}
            <p class="text-center"
            style="margin:0;color:blue;cursor:pointer"><small class="funga">
                cancel
            </small></p>
        </div>
        </div>
      </div>
      <br>
      {% if current_user.profile.name%}
      <h6>{{current_user.profile.name}}</h6>
      {% else %}
        {% if current_user == user %}
        <p>Add a display name in settings</p>
        {% endif %}
      {% endif %}
      {% if current_user.profile.bio %}
      <small>
        {{current_user.profile.bio}}
      </small>
      {% else %}
        {% if current_user == user  %}
          <p class="text-disabled"> Add bio in edit profile</p>
        {% else %}
          <p>No Bio</p>
        {% endif %}
      {% endif %}
      {% if current_user.profile.website%}
      <br><br>
        <a style="color:darkblue;text-decoration:none" href="{{current_user.profile.website}}" target='_blank'>
          {{current_user.profile.website}}
        </a>
      {% endif %}

    </div>
  </div>
  <div class=" container-fluid data-parent">

  <div class="row data-main">
    <div class=" icons">

    <small id="post">
       <i class="fas fa-th"></i>
         POST
    </small>
    <small id="igtv">
      <img src="{% static 'igtv.png' %}" width="13px"alt="">
        IGTV
    </small>
    <small id="saved">
      <i class="far fa-bookmark"></i>
        SAVED
    </small>
    <small id="tagged">
  <i class="fas fa-user"></i>
    TAGGED
    </small>
  </div>
  <div class="posts">

  {% for post in posts %}

      <div class="my-items" style="margin-bottom:10px;background:url('{{post.image.url}}');height:100%;background-size:cover;background-position:center;">
      <img src="{{post.image.url}}" class="card-img-top to-hide" alt="{{image.name}}" height="90px" width="200px">
      <a href="{% url 'post_details' post.pk %}" style="color:gray;text-decoration :none">
  <div class="content" href="{% url 'post_details' post.pk %}">
    <i class="fas fa-heart"></i><span>{{post.likes}}</span><i class="fas fa-comment"></i><span>{{post.image_comments.all.count}}</span>

  </div>
</a>
    </div>
      {% if foorloop.last %}
        <div class="col-md-12 empty">
          <i class="fas fa-images"></i>
          <h5>No Post</h5>
        </div>
      {% endif %}
  {% empty %}
    <div class="col-md-12 empty">
      <i class="fas fa-images"></i>
      <h5>No Post</h5>
    </div>
  {% endfor%}
</div>


</div>
</div>
</div>
<script type="text/javascript" src="{% static 'js/profile.js'%}"> </script>
{% endblock %}
