body{
  background-color:rgba(0,0,0,.02);
}
.top{
  background-color: white;
  padding: 0 150px;
  border:.5px rgba(0,0,0,.3) solid ;
  border-width:0 0 .5px 0;
}
.row{
  padding:15px;
}
.flexx1{
  display: flex;
  justify-content: space-space-between;
  align-items: center;
}
.flexx2{
  display: flex;
  align-items:center;
  justify-content:center;
}
.flexx2 input{
  background-color: rgba(0,0,0,.02);
  text-align: center;
  font-weight: 40;
  border:.5px rgba(0,0,0,.1) solid ;
  height:25px;
  border-radius:3px;
  padding: 5px 0;
}
.flexx3{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.flexx3 a svg{
  margin:0 0 0 30px;
}
.search-results{
  position: absolute;
  background: white;
  right:0px;
  top:60px;
  width:100%;
  z-index:-9999;
  display: none;
  border:.05px solid rgba(0, 0, 0, 0.5);
  border-width:.5px .5px .5px .5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 10px rgba(0,0,0,.2);
  overflow: auto;
  list-style: none;

}
.search-results li:hover{
background-color: rgba(0,0,0,.03)
}
span.loader{
  display :none;
  position:relative;
  right:20px;
  width:15px;
  min-width: 15px;
  min-height: 15px;
  height:15px;
  border:2px solid lightgray;
  border-top:2px solid  rgba(0,0,200,.9);
  border-radius: 50%;
  animation: spin 1s linear infinite;
 }
 @keyframes spin {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
 }
 .background-loader{
   width:100%;
   display: none;
   height:3px;
   background: rgba(0, 0, 200, 0.1);
   position:relative;
   position:fixed;
   z-index: 19;
 }
 .load-item{
   position:absolute;
   width:0;
   height:3px;
   background: rgba(0, 0, 200, 0.7);
   animation: load 2s ease-in-out infinite;
 }
 @keyframes load {
   0%{
     width:0;
     left:-20%;
}
  100%{
  width:100%;
  left:100%;

  }
 }
